























.form
{
    float: left;
    margin-top: 20px;
    color: rgb(202, 151, 74);
    font-size: 25px;
    transform: translate(25%,0%);
}


#btn {
    background: #222;
    height: 50px;
    width: 100%;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 40px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
  }
  
  #btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  #btn:hover {
    background: transparent;
  }
  
  #btn:hover #circle {
    height: 50px;
    width: 100%;;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid rgb(255, 175, 71);
  }


  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    z-index: -10;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  

    .form__field:focus::-webkit-input-placeholder 
    {
        color: #9b9b9b;
        font-size: 15px;
    }
    
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to left, #fcd789, #ffae00);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #e2b34d;
    font-weight: 700;
  }
  
  /* reset input */
  
  
  
  /* demo */
  